*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --colorFondo: #0C0D10;
    --colorContraste:#009FFD;
    --colorTexto:#EAF6FF;
    --colorTabla: #EAF6FF;
    --descenso:rgba(217,142,134,0.4);
    --ascenso:rgba(178,217,134,0.5);

  }
  
body{

    background-color: var(--colorFondo);

}

.contenedor{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 30px;
}


.izquierda {
    flex: 0 0 auto;
  }


.centro {
    flex: 1 0 auto;
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;
 }


h1{
    font-weight: 600;
    color: var(--colorContraste);
    
}

p{
    color: var(--colorTexto);
    font-weight: 500;
}

.info{
    font-weight: 600;
    margin-top: 5px;
    color: var(--colorContraste);
}


table{
    background-color: var(--colorTabla);
    border-collapse: collapse;

}

tr{
    border-bottom: 1px solid black;
}


td{ 
    
    font-weight: 300;
    padding-right:10px;
    padding-left: 10px;
    text-align: center;
}

th{
    font-weight: 600;
    padding-right:10px;
    padding-left: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
}

.izq{
    text-align: left;
}



.escudos{    
    mix-blend-mode: multiply;
    padding: 5px 0px 5px 0px;
    margin: 0;

}

 /* Resaltar las filas de la tabla  */
 tr:nth-child(n+2):nth-child(-n+5) {
    background-color: var(--ascenso); 
  }
  

tr:nth-last-child(-n+4) {
    background-color: var(--descenso); 
  }
  

/* Ocultar filas para el responsive  */

@media only screen and (max-width: 768px) {
    
    .ocultar-columna {
      display: none;
    }
    
    table {
      font-size: 0.8rem;
       
    }
    
    th, td {
      padding: 5px;
      text-align: left; 
    }

    .contenedor {
        flex-direction: column; /* Cambiar a una dirección de columna */
        align-items: center; /* Centrar los elementos verticalmente */
      }
      
      .izquierda, .centro {
        width: 100%; /* Ocupar el ancho completo */
        margin-left: 0px;
      }

      
  }
  